body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.header-container {
  background-color: #1a3d63;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
}

.logo {
  margin-right: 15px;
  width: 45px;
}

.navbar a {
  color: white;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 15px;
}

.navbar a:hover {
  background-color: #0a1931;
  color: white;
}

.btn {
  background-color: #f0f0f0;
  color: #1a3d63;
  border: none;
  padding: 8px 16px;
  border-radius: 15px;
  cursor: pointer;
}

.btn:hover {
  color: white;
  background-color: #0a1931;
}

.about-me {
  color: white;
  padding: 0 30px;
  padding-bottom: 30px;
  background-color: #1a3d63;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.About-section h1 {
  margin-top: 0;
}

.About-section p {
  line-height: 1.6;
  width: 450px;
}

.about-image {
  width: 100px;
}

.projects-section {
  color: white;
  padding: 30px;
  width: 100%;
  max-width: 100%;
  background-color: #1a3d63;
  overflow: hidden;
}

.scrolling-wrapper {
  display: flex;
  overflow-x: auto;
  padding: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  gap: 20px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}
.scrolling-wrapper::-webkit-scrollbar {
  height: 8px;
}

.scrolling-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrolling-wrapper::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scrolling-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.project-image {
  width: 120px;
}


.project-card {
  display: block;
  min-width: 280px; 
  padding: 25px;
  border-radius: 12px;
  background-color: #0b1a30; 
  color: white;
  text-decoration: none; 
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}


.card-icon {
  background: white;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-bottom: 15px;
}
.card-icon img {
  max-width: 50px;
}


.project-card:hover {
  transform: translateY(-7px);
  background-color: #132a4a;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
