body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.header-container {
  background-color: #1a3d63;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
}

.logo {
  margin-right: 15px;
  width: 45px;
}

.navbar a {
  color: white;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 15px;
}

.navbar a:hover {
  background-color: #f0f0f0;
  color: #1a3d63;
}   